<% if @order.nil? %>
  <h1>You have an empty cart!</h1>
<% else %>
  <section class='order'>
  <h2 class="h-center-text">YOUR CART</h2>

  <table class="table">
  <tbody>

  <% @order.orderitems.each do |orderitem| %>
  <tr>
    <td>
      <span class="img-cart cont-center"><%= image_tag "#{orderitem.product.photo_url}", alt: "#{orderitem.product.product_name}" %></span>
    </td>

    <td id="text-just-center">
      <h4><%= link_to orderitem.product.product_name, product_path(orderitem.product) %></h4>
      <p>Quantity: <%= orderitem.quantity %></p>
      <p>
      <%= link_to "edit", edit_order_path(id: orderitem.id) %> | 
      <%= link_to "delete", orderitem_path(id: orderitem.id), method: :delete, data: {confirm: "Are you sure?"} %>
      </p>
    </td>

    <td id="text-just-center">
      <p><span class='text-bold'>$<%= number_with_precision(orderitem.subtotal, :precision => 2) %></span> ($<%= number_with_precision(orderitem.product.price, :precision => 2) %> each)</p>
    </td>
  </tr>
  <% end %>

  </tbody>
  </table>

  <hr class="hr-total">

  <section class="align-right">  
    <h4>TOTAL $<%= number_with_precision(@order.total, :precision => 2) %></h4>
    <p ><%= link_to 'Checkout', edit_order_path(id: @order.id), class:"btn btn-primary" %></p>
  </section>

</section>
<% end %>

