<section class="content">
  <h1 class="cart__text text-primary">ORDER FULFILLMENT PAGE</h1>
  <h3 class="cart__text"> TOTAL REVENUE: $<%= number_with_precision(@total_revenue, :precision => 2, :delimiter => ',') %></h1>
  <hr>

<p>
  <button class="order__button btn-sm rounded-0" type="button" data-toggle="collapse" data-target="#paid" aria-expanded="false" aria-controls="paid">
    In Progress orders
  </button>
  <button class="order__button btn-sm rounded-0" type="button" data-toggle="collapse" data-target="#complete" aria-expanded="false" aria-controls="shipped">
    Complete orders
  </button>
</p>
<div class="collapse" id="paid">
  <%# @paid_collection %>
  <% if @paid_collection.empty? %>
    <h2 class="cart__text text-primary"> No orders </h2>
  <% else %>
    <h2 class="cart__text text-primary">In Progress Orders</h2>
    <h2 class="cart__text">Revenue: $<%= number_with_precision(@paid_revenue, :precision => 2, :delimiter => ',') %> </h2>
    <%= render partial: "order-collection", locals: { collection: @paid_collection  } %>
  <% end %>
</div>
<div class="collapse" id="complete">
  <%# @complete %>
  <% if @complete_collection.empty? %>
    <h2 class="cart__text text-primary"> No orders </h2>
  <% else %>
    <h2 class="cart__text text-primary">Complete Orders</h2>
    <h2 class="cart__text"> Revenue: $<%= number_with_precision(@complete_revenue, :precision => 2, :delimiter => ',') %> </h2>
    <%= render partial: "order-collection", locals: { collection: @complete_collection  } %>
  <% end %>
</div>


<h2 class="cart__text">All orders</h2>
<h2 class="cart__text">Revenue: $<%= number_with_precision(@total_revenue, :precision => 2, :delimiter => ',') %> </h2>
<%= render partial: "order-collection", locals: { collection: @order_collection } %>


<br>

</section>
